* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.document-container {
  width: 8.5in;
  height: 11in;
  border: 3px solid black;
}

header,
main,
footer {
  margin-bottom: 20px;
}

section {
  margin: 10px 0;
}

hr {
  width: 80%;
  height: 3px;
  display: inline-block;
  justify-content: baseline;
  align-items: baseline;
  background-color: black;
  border: 1px solid black;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
}

.cv-info {
  line-height: 0.5;
}

.socials {
  display: flex;
}
